
.fieldWrapper{
    background: #F5F5F5;
    position: relative;
    padding: 5px;
    margin: 5px;
    margin-bottom: 15px;
}

.fieldWrapper_content{
    background: #F5F5F5;
    z-index: 1;

}
.fieldWrapper_corner{

    position: absolute;
    left: 0;
    bottom: -7px;
    z-index: -1;
}