
.fieldWrapper{
    background: #F5F5F5;
    position: relative;
    padding: 2px 5px;
    margin: 0 0 15px 0;
    width: 100%;
    height: max-content;
    box-sizing: border-box;
}

.fieldWrapper_content{
    background: #F5F5F5;
    z-index: 1;
    box-sizing: border-box;

}
.fieldWrapper_corner{

    position: absolute;
    left: 0;
    bottom: -7px;
    z-index: -1;
}