.navBar {
    background-color: var( --color-navy);
    position: sticky;

    height: 35px;
    width: 100%;

    box-sizing: border-box;
    padding: 30px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navBar a {
}

.navBar img {
    width: 25px;
    height: 25px;
    margin: 0 20px 0 20px;
}

img.logo {
    filter: invert();
}
