div.navBar {
    height: 35px;
    background-color: var( --color-navy);
    display: flex;
    position: fixed;
    width: 100%;
    max-width: 500px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    z-index: 999;
}

.navBar a {
    display: flex;
}

.navBar img {
    width: 25px;
    height: 25px;
    margin: 0 20px 0 20px;
}

img.logo {
    filter: invert();
}
