div.profileGallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

div.imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    width: 150px;
}

.profileGallery img {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

img.mainImage {
    height: 140px;
    width: 140px;
}

div.threeImagesContainer {
    margin-top: 30px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.threeImagesContainer>.imageContainer{
    height: 100px;
    width: 100px;
}

img.addIcon {
    height: 30%;
    width: 30%;
    position: absolute;
    right: 6%;
    bottom: 6%;
}