div.candidateSuggestion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.candidateSuggestion img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.candidateSuggestion p {
    border: black;
}