

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Roboto, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  padding: 0;
  background-color: white;
  margin: 0;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color-red: #FF533D;
  --color-navy: #0F1626;
  --color-background: #D9D9D9;
}


.blackBtn{
  background-color: #0F1626;
  color: #F5F5F5;
  border: 0;

}

.orangeBtn{
  background-color: #FF533D;
  color: #F5F5F5;
  border: 0;

}


.roundedCorners_lite {
  border-radius: 2px;
}


.appname {
  font-size: 25px;
  line-height: 29px;
  text-align: center;
}

.appmotto {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

button.login {
  position: absolute;
  width: 191px;
  height: 31px;
  left: 85px;
  top: 422px;
  background: var(--color-navy);
  border-radius: 2px;
}

button.google {
  position: absolute;
  width: 192px;
  height: 31px;
  left: 84px;
  top: 563px;
  background: var(--color-red);
  border-radius: 2px;
}

div.quizalert {
  position: absolute;
  width: 332px;
  height: 51px;
  left: 15px;
  top: 429px;
}