
.editProfilePage {
    display: flex;
    justify-content: center;
    width: 100%;

}

.editProfilePage_content{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /*justify-content: space-evenly;*/
    width: max(320px, 80%);
    margin-bottom: 30px;
}